VITE_PROJECT_ID=PLACEHOLDER_PROJECT_ID
VITE_PROXY_URL=ws://localhost:8000/ws/proxy
VITE_MODEL_ID=gemini-live-2.5-flash-native-audio

# VITE_MODEL_ID_IMAGE=gemini-2.5-flash-image
VITE_MODEL_ID_IMAGE=gemini-3.1-flash-image-preview

VITE_GEMINI_API_KEY=PLACEHOLDER_GEMINI_API_KEY